<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Landmark Finder | Exception</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body class="container">
<header class="jumbotron text-center">
    <h1>Oops.. Something went wrong during landark detection.</h1>
</header>
<a href="index.html" th:href="@{/index}" class="btn btn-dark col-4 offset-4 mt-5">Try again</a>
</body>
</html>